:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;

  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
}

html {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: end;
    flex: 1;
}

bin {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.move-handle {
  width: 80px;
  height: 10px;
  background: #888;
  border-radius: 50px; /* fully rounded ends */
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  cursor: grab;
}

.slot-overlay {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.name {
    color: #000000;
    word-break: break-all;
    flex: 1;
}

.close {
    position: absolute;
    width: 25%;
    height: 25%;

    background-image: url('assets/close.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.item {
    border: 2px solid #ccc;

    background-color: #f9f9f9;
    border-color: #bbb;
    margin: 3px;

    flex: 1;
    display: flex;
}

.item:hover {
    border-color: #2196f3;
    box-shadow: 0 0 8px rgba(33, 150, 243, 0.5);
    cursor: pointer;
}

.item-icon {
    background-image: url('assets/file_icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    flex: 3;
}

.item-full {
    background-color: #e0ffe0;
    border-color: #4caf50;
}

.container {
  display: flex;
  flex: 1;
  text-align: center;
}

